<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HaemaNote.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HaemaNote.Properties.Settings>
            <setting name="noteManageType" serializeAs="String">
                <value>Text</value>
            </setting>
            <setting name="WebDavAddress" serializeAs="String">
                <value>http://tmddlf37.iptime.org:5002</value>
            </setting>
            <setting name="LocalSaveAddress" serializeAs="String">
                <value>/</value>
            </setting>
        </HaemaNote.Properties.Settings>
    </userSettings>
</configuration>